.header-area .container {
    padding: 0px;
  }

  body .page-content {
    margin-top: 110px;
    /* background-color: #e5e7eb; */
    background-color: white;
    padding: 60px;
    border-radius: 23px;
  }




/* ============== POPUP SETTING ================ */


.icon-large {
  font-size: 10px; /* Modifier la taille de l'icône selon vos besoins */
  vertical-align: middle;
  margin-right: 8px; /* Ajouter un espace entre l'icône et le texte si nécessaire */
}



/* ============== POPUP SETTING ================ */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000; /* Valeur supérieure à celle du menu */
}

.popup-content {
  position: absolute;
  top: 50%; /* Ajustez cette valeur selon vos besoins */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 45vw;
  max-width: 700px; /* Vous pouvez ajuster cette valeur selon vos besoins */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.centered-button {
  display: block;
  margin: 0 auto;
  text-align: center;
}


/* ============== CARD EVENTS SETTING ================ */


.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

  }

  
  
  .card {
    background-color: #e5e7eb;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    flex: 0 0 300px; /* Largeur fixe de 300 pixels */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement les éléments */
    justify-content: center;
    height: 300px;
  }
  
  .information{
margin-top: 5%;
  }

  .participantName{
    font-size: 18px;
    font-weight: bold;
text-align: center;
    color: #777;
    text-align: center;
    margin-top: 5%;
  }
  
  .participants{
    font-size: 18px;
    font-weight: bold;
text-align: center;
    color: #931433;
    text-align: center;
    
  }


  .card h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0.75rem;
    font-weight: 700;
    color: #931433;
    text-align: center;
  }
  
  .card p {
    font-family: Arial, sans-serif;
    
    text-align: center;
  }
  
  .card .date {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
text-align: center;
  }
  
  .card .participate-button {
    background-image: url("/assets/images/logo/background.png");
    background-size: cover;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: auto; /* Fixer le bouton en bas */
    margin-bottom: 20px;
    padding: 5px 10px;
    cursor: pointer;
  }
  


/* ============== COMPORTEMENT BOUTON ================ */


  .participation-complete {
    pointer-events: none; /* Désactive les interactions avec le bouton */
    background-color: gray; /* Change la couleur de fond du bouton */
    color: white; /* Change la couleur du texte du bouton */
    cursor: default; /* Change le curseur de la souris au survol du bouton */
  }